@{
    ViewData["Title"] = "Create New Account";
}

<div class="text-center my-auto">
    <img src="~/Icons/Add_user_icon_blue.jpg" alt="Add new user" style="height:104px; width:91px;">
    <h1 class="display-6"><b>Join Us</b></h1>
    <div class="container-fluid col-lg-4 col-6">
        <form>
            <br />
            <div class="form-group">
                <input class="form-control" placeholder="Email address">
            </div>
            <br />
            <div class="form-group">
                <input class="form-control" placeholder="Username">
            </div>
            <br />
            <div class="form-group">
                <input class="form-control" placeholder="Contact number">
            </div>
            <br />
            <div class="form-group">
                <input class="form-control" placeholder="Secondary contact number">
            </div>
            <br />
            <div class="form-group icon-div">
                <input type="password" class="form-control" placeholder="Password" id="pwdHash">
                <i onclick="show('pwdHash')" class="fas fa-eye-slash" id="display"></i>
            </div>
            <br />
            <div class="form-group icon-div">
                <input type="password" class="form-control" placeholder="Confirm password" id="cmfHash">
                <i onclick="show('cmfHash')" class="fas fa-eye-slash" id="display"></i>
            </div>
            <br />
            <div class="form-group">
                <input id="cbConsent" type="checkbox"/>
                <label for="cbConsent">Consent to allow website to use my info</label>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-success col-12">Create My Account</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function show(a) {
        var x = document.getElementById(a);
        var c = x.nextElementSibling
        if (x.getAttribute('type') == "password") {
            c.removeAttribute("class");
            c.setAttribute("class", "fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            c.removeAttribute("class");
            c.setAttribute("class", "fas fa-eye-slash");
        }
    }
</script>