@{
    ViewData["Title"] = "Forgot Password";
}

<div class="text-center my-auto">
    <img src="~/Icons/reset-password-icon-29.jpg" alt="Forgot Password" style="height:104px; width:104px;">
    <h1 class="display-6"><b>Forget Your Password?</b></h1>
    <div class="container-fluid col-lg-4 col-6">
        <form>
            <div class="row">No worries! Enter your email and we will send you a reset.</div>
            <br />
            <br />
            <div class="form-group">
                <input class="form-control" placeholder="Email Address">
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-success col-12">Send Request</button>
            </div>
        </form>
    </div>
</div>