@{
    ViewData["Title"] = "Sign In";
    @model LoginModel;
}

<div class="text-center my-auto">
    <div class="container-fluid col-lg-4 col-6">
        <h1 class="display-6"><b>Sign in</b></h1>
        <br />
        <div class="alert alert-danger" style="@(@ViewBag.ErrorMessage == null? "display:none": "display:block")">
            <p>@ViewBag.ErrorMessage</p>
        </div>
        @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
        {
            <form>
                <div class="form-group">
                    <input class="form-control" placeholder="Username" name="userName" id="userName">
                </div>
                <br />
                <div class="form-group">
                    <input class="form-control" placeholder="Password" name="pwdHash" id="pwdHash">
                </div>
                <br />
                <div class="form-group">
                    <input id="cbRmbMe" type="checkbox" checked />
                    <label for="cbRmbMe">Remember me</label>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-success col-12">Login</button>
                </div>
                <br />
                <div class="form-group">
                    <a style="float:right; font-size:12px;" asp-area="" asp-controller="Admin" asp-action="ForgetPassword">Forgot Password?</a>
                </div>
            </form>
        }
    </div>
</div>

