@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <div class="card">
        <div class="card-header bg-secondary text-white"><h1 class="display-6"><b>Dashboard</b></h1></div>
        <div class="card-body">
            <p>text text to fill up space</p>

        </div>
    </div>
</div>
