@{
    ViewData["Title"] = "Create Donation";
    @model CreateDonationModel;
}

<div class="text-center my-auto">
    <div class="card">
        <div class="card-header bg-secondary text-white"><h1>New Donation</h1></div>
        <div class="card-body">


            <div class="container-fluid col-lg-4 col-6">

                <br />
                <div class="alert alert-danger" style="@(@ViewBag.ErrorMessage == null? "display:none": "display:block")">
                    <p>@ViewBag.ErrorMessage</p>
                </div>
                @using (Html.BeginForm("CreateDonation", "Donations", FormMethod.Post))
                {
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Donation Name" name="donationName" id="donationName">
                        </div>
                        <br />
                        <div class="form-group">
                            <input class="form-control" placeholder="Quantity" name="quantity" id="quantity">
                        </div>
                        <br />
                        @*<div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            <br />*@
                        @Html.DropDownListFor(m => m.LocationId,
                                         new SelectList(Model.LocationList, "locationId", "locationName"),
                                         "Select Pickup Location", new { @class = "form-control" })
                        <br />
                        @Html.DropDownListFor(m => m.FoodId,
                                         new SelectList(Model.FoodDescriptionList, "foodId", "description"),
                                         "Select Food Type", new { @class = "form-control" })
                        <br />
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-success col-12"  id="submitBtn" >Create Donation</button>
                        </div>
                        <br />
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
