@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h1 class="display-6"><b>About FWMS</b></h1>
        </div>
        <div class="card-body">


            <p class="container-fluid">
                <img src="~/Image/1280px-Trashed_vegetables_in_Luxembourg.jpeg" style="width: 45%; height: 25%;" />
                <div class="row">
                    In 2019 alone, Singaporeans toss away around 744,000 tonnes of food while nearly a billion people in the rest of the world are going hungry. Besides the obvious moral reasons, reducing food waste has a significant impact on our environment too as it delays the progression of global warming.
                </div>
                <br />
                <div class="row">
                    One way we seek to reduce waste is to redistribute safe and unsold/excess food to the needy households. Hotel kitchens throw away around 25% of all the food they purchase. Instead of disposing of these food daily, they can be donated and given to the needy households via volunteer food redistributors. Examples of these volunteer organisations are 'Food Bank Singapore', ‘Food from the Heart’ and 'Food Rescue &commat; Events'.
                </div>
                <br />
                <div class="row">
                    The Food Wastage Management System will serve to connect the hotels with the volunteer food redistribution network. Hotels can notify the community (volunteer groups) of the food they intend to donate, with the collection time and location. Interested volunteer groups can reserve the food and assign their volunteers to collect at an agreed location. This platform can be extended to include other Food & Beverage entities such as bakeries in the future.
                </div>
            </p>
        </div>
    </div>
</div>
