@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="30000">
                <img src="~/Image/new_marina-bay-sands-food-donation.jpg" style="height:650px; width:100%;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="30000">
                <img src="~/Image/HHR-Bogata-Food-Donations-FPC.jpg" style="height:650px; width:100%;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="30000">
                <img src="~/Image/New_Food_from_the_Heart.jpg" style="height:650px; width:100%;" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
